h1{
    background-color:lightblue;

}
ul li:nth-child(odd){
    font-weight:bold;
    color:yellow;
}

a:hover{
    color:red;
    font-weight:bold;
    text-decoration:underline
}
a:link{
    color:blue; 
    text-decoration:none ; 
}
a:visited{
    color:black;
}
a:active{
    background-color:pink;
    font-size:sans-serif;
}